/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a { text-decoration: none; color: #999;}
li { list-style-type: none;}



/* 메인 섹션 공통 스타일 */
section[id ^= "main_"] {
  max-width: 1920px;
  width: 100%;
  height: 1080px;
  background: #aaa;
  /* outline: 1px solid red; */
}

section:nth-child(2n) {
  background: #444;
}


/* 대표상품 */
#main_products {
  background-image: url(../images/extra_clean_paper_@2X.png);
}


/* 운용프로세스 */
#main_process {
  background-image: url(../images/dark_geometric_@2X.png);
}


#main_info {
  background-image: url(../images/pixel_weave_@2X.png);
}

section[id ^= "main_"] > h1 {
  padding: 50px 0;
  text-align: center;
}


/* 퀵 내비게이션 */
#main_quick {
  position: fixed;
  top: 300px;
  right: 20px;
  text-align: right;
  display: none;
}

#main_quick a {
  font-size: 16px;
  padding: 10px 0;
  color: #999;
  display: block;
  height: 40px;
}


#main_quick a > span {
  padding: 0 10px;
  transition: 0.5s;
}


#main_quick a > div {
  width: 10px;
  height: 10px;
  border: 1px solid #999;
  display: inline-block;
  transform: rotate(45deg);
  margin-bottom: 2px;
  transition: 0.5s;
}

#main_quick a:hover div,
#main_quick a div.active {
  transform: rotate(135deg);
  background: #999;
}

#main_quick a:hover span,
#main_quick a span.active {
  color: #fff;
}

.products_active,
.info_active {
  color: #333;
}


#main_quick .line {
  width: 1px;
  height: 28px;
  border-right: 1px solid #999;
  position: absolute;
  right: 4.5px;
}

#main_quick .first { top: 26px;}
#main_quick .second { top: 66px;}
#main_quick .third { top: 106px;}
#main_quick .fourth { top: 146px;}


#btn_top {
  width: 60px;
  height: 60px;
  border: 1px solid #999;
  position: fixed;
  bottom: 30px;
  right: 20px;
  color: #999;
  text-align: center;
  line-height: 70px;
  font-size: 50px;
  background: rgba(153,153,153,0.3);
}



/* Footer */
footer {
  background: #3b3b3b;
  color: #828282;
  font-size: 14px;

}

#footer_top {
  text-align: center;
  border-bottom: 1px solid #707070;
}

#footer_top > a {
  display: inline-block;
  margin: 20px 20px;
}

#footer_top > a:last-child {
  color: white;
  font-weight: bold;
}

#footer_1400 {
  /* outline: 1px solid red; */
  width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
  padding-bottom: 50px;
  overflow: hidden;
}

#footer_1400 > div {
  float: left;
}

.footer_info {
  padding: 0 100px;
  margin: 0 auto;
  line-height: 24px;
}